# Background

In the train.csv (and test.csv) data, features that belong to similar groupings are tagged as such in the feature names (e.g., ind, reg, car, calc). In addition, feature names include the postfix bin to indicate binary features and cat to indicate categorical features. Features without these designations are either continuous or ordinal. Values of -1 indicate that the feature was missing from the observation. The target columns signifies whether or not a claim was filed for that policy holder.

In [142]:
import pandas as pd
import numpy as np

# Read data

In [143]:
df = pd.read_csv('data/train.csv',index_col=False)

In [144]:
df.shape

(595212, 59)

In [5]:
df.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [6]:
df.loc[df.target == 1].head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
9,28,1,1,1,2,0,0,0,1,0,...,3,5,0,6,0,1,0,0,1,0
19,64,1,0,1,2,1,0,1,0,0,...,10,3,1,11,0,1,1,0,1,0
28,84,1,0,2,0,1,4,1,0,0,...,3,2,0,8,0,1,1,0,0,0
39,107,1,2,1,3,1,0,0,0,1,...,6,0,8,14,0,1,0,1,0,0
41,110,1,5,2,1,0,0,0,0,1,...,5,2,0,7,1,1,0,0,0,0

## Q1: How many explanatory features are there in the training data (train.csv)? Could id be considered as an explanatory feature and why?

### Answer 
1. There are 57 explanatory features here, if we do not include the label -- 'target'. 

2. And 'id' cannot be considered as an explanatory feature in this case, since it is only the index column for the dataset. There is no meaning for this column.

Below are codes to explain the answer above.

In [ ]:
df.info()

## Q2: Among the explanatory features in train.csv, how many are nominal (i.e., binary or categorical)? Please list all nominal features respectively. For each of them, please provide the count of each category.

### Answer 
1. There are 31 nominal data (binary and categorical), as can be shown in col_Q2 list.

2. For each of them, the count of each category is in Q2.

In [7]:
col_Q2 = df.columns[[v[-3:] in 'cat and bin' for v in df.columns]]

In [8]:
col_Q2

Index(['ps_ind_02_cat', 'ps_ind_04_cat', 'ps_ind_05_cat', 'ps_ind_06_bin',
       'ps_ind_07_bin', 'ps_ind_08_bin', 'ps_ind_09_bin', 'ps_ind_10_bin',
       'ps_ind_11_bin', 'ps_ind_12_bin', 'ps_ind_13_bin', 'ps_ind_16_bin',
       'ps_ind_17_bin', 'ps_ind_18_bin', 'ps_car_01_cat', 'ps_car_02_cat',
       'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat', 'ps_car_06_cat',
       'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat', 'ps_car_10_cat',
       'ps_car_11_cat', 'ps_calc_15_bin', 'ps_calc_16_bin', 'ps_calc_17_bin',
       'ps_calc_18_bin', 'ps_calc_19_bin', 'ps_calc_20_bin'],
      dtype='object')

In [249]:
col_Q2.shape

(31,)

In [9]:
Q2 = [df[col].value_counts() for col in df[col_Q2]]

In [10]:
Q2

[ 1    431859
  2    123573
  3     28186
  4     11378
 -1       216
 Name: ps_ind_02_cat, dtype: int64,  0    346965
  1    248164
 -1        83
 Name: ps_ind_04_cat, dtype: int64,  0    528009
  6     20662
  4     18344
  1      8322
  3      8233
 -1      5809
  2      4184
  5      1649
 Name: ps_ind_05_cat, dtype: int64, 0    360852
 1    234360
 Name: ps_ind_06_bin, dtype: int64, 0    442223
 1    152989
 Name: ps_ind_07_bin, dtype: int64, 0    497644
 1     97568
 Name: ps_ind_08_bin, dtype: int64, 0    484917
 1    110295
 Name: ps_ind_09_bin, dtype: int64, 0    594990
 1       222
 Name: ps_ind_10_bin, dtype: int64, 0    594205
 1      1007
 Name: ps_ind_11_bin, dtype: int64, 0    589594
 1      5618
 Name: ps_ind_12_bin, dtype: int64, 0    594648
 1       564
 Name: ps_ind_13_bin, dtype: int64, 1    393330
 0    201882
 Name: ps_ind_16_bin, dtype: int64, 0    523143
 1     72069
 Name: ps_ind_17_bin, dtype: int64, 0    503879
 1     91333
 Name: ps_ind_18_bin, dtype: int64,  11    207573
  7     179247
  6      62393
  10     50087
  4      26174
  9      20323
  5      18142
  8      15093
  3       6658
  0       5904
  2       2144
  1       1367
 -1        107
 Name: ps_car_01_cat, dtype: int64,  1    493990
  0    101217
 -1         5
 Name: ps_car_02_cat, dtype: int64, -1    411231
  1    110709
  0     73272
 Name: ps_car_03_cat, dtype: int64, 0    496581
 1     32115
 2     23770
 8     20598
 9     19034
 6      1560
 3       640
 5       545
 4       230
 7       139
 Name: ps_car_04_cat, dtype: int64, -1    266551
  1    172667
  0    155994
 Name: ps_car_05_cat, dtype: int64, 11    131527
 1     118386
 0     110420
 14     59253
 10     33466
 4      31136
 15     21732
 6      20951
 9      17617
 7      16158
 3      11997
 13      6246
 17      4935
 16      4582
 12      2386
 2       1607
 8       1412
 5       1401
 Name: ps_car_06_cat, dtype: int64,  1    553148
  0     30575
 -1     11489
 Name: ps_car_07_cat, dtype: int64, 1    495264
 0     99948
 Name: ps_car_08_cat, dtype: int64,  2    353482
  0    194518
  1     29080
  3     14756
  4      2807
 -1       569
 Name: ps_car_09_cat, dtype: int64, 1    590179
 0      4857
 2       176
 Name: ps_car_10_cat, dtype: int64, 104    85083
 103    24262
 64     22278
 87     17106
 32     12578
 28     12538
 5      12513
 99     12042
 65     10905
 82     10470
 83      9510
 38      9246
 10      8732
 68      8388
 22      8371
 60      7992
 39      7676
 70      7479
 101     7339
 78      7334
 12      7246
 67      7061
 16      7007
 11      6716
 92      6506
 85      6313
 48      6010
 51      6008
 27      5930
 80      5710
        ...
 21      2424
 77      2405
 71      2357
 24      2353
 30      2322
 9       2211
 102     2103
 79      2079
 96      2073
 47      2035
 15      1880
 73      1858
 20      1848
 91      1838
 50      1825
 33      1790
 69      1785
 59      1770
 45      1706
 75      1678
 23      1668
 54      1622
 4       1596
 97      1484
 35      1481
 58      1464
 81      1433
 56      1272
 18      1233
 63      1103
 Name: ps_car_11_cat, Length: 104, dtype: int64, 0    522342
 1     72870
 Name: ps_calc_15_bin, dtype: int64, 1    373698
 0    221514
 Name: ps_calc_16_bin, dtype: int64, 1    329856
 0    265356
 Name: ps_calc_17_bin, dtype: int64, 0    424278
 1    170934
 Name: ps_calc_18_bin, dtype: int64, 0    387469
 1    207743
 Name: ps_calc_19_bin, dtype: int64, 0    503955
 1     91257
 Name: ps_calc_20_bin, dtype: int64]

The table above is the result fo Q2, and since the format is not well done, please read it carefully (some are horizontal and some are in the next line).

## Q3: How would you compute similarity between feature vectors of any pair of samples (rows)? Please first describe the steps or formula you will use to compute similarities. We require that the similarity measure should have values between 0 and 1. Then implement your function in script that takes two row indices as input and return a similarity value as output. (We require that your function  should be within 20 lines of codes)!

### Answer 
##### For numerical data:

Steps to compute similarities

1. Compute cosine similarity between samples in X and Y
2. Cosine similarity, or the cosine kernel, computes similarity as the
    normalized dot product of X and Y:
        K(X, Y) = <X, Y> / (||X||*||Y||)
3. Parameters

    X : ndarray or sparse array, shape: (n_samples_X, n_features)
        Input data.
    Y : ndarray or sparse array, shape: (n_samples_Y, n_features)
        Input data. If ``None``, the output will be the pairwise
        similarities between all samples in ``X``.
    dense_output : boolean (optional), default True
        Whether to return dense output even when the input is sparse. If
        ``False``, the output is sparse if both input arrays are sparse.


##### For categorical data:
We just compare the values for the categorical data to decide whether they are the same or not.

##### Some pre-analysis for the dataset before the function
use the package as well as function to prove the answer

In [18]:
row_range_1 = 3
row_range_2 = 5

In [19]:
df[row_range_1:row_range_2]  ## selected data (two rows)

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [22]:
## first use cosine similarity package to calculate the result
from sklearn.metrics.pairwise import cosine_similarity   
cosine_similarity(df[row_range_1:row_range_2])

array([[ 1.        ,  0.98359439],
       [ 0.98359439,  1.        ]])

In [99]:
## Then use the function to calculate the similarity
from scipy.spatial.distance import cosine   

data = df[col_Q3_1].loc[[row_range_1,row_range_2]].values
m, k = data.shape

mat = np.zeros((m, m))

for i in range(m):
    for j in range(m):
        if i != j:
            mat[i][j] = 1- cosine(data[i,:], data[j,:])
        else:
            mat[i][j] = 1.

In [100]:
mat  ## check if it is the same as the cosine similarity result

array([[ 1.        ,  0.92067215],
       [ 0.92067215,  1.        ]])

### Answer (function): The function to compare the similarities (20 lines in tatal without notations)
steps:
1. For numerical data, I will use cosine similarities
2. For categorical data, I will use 1 to represent the same value, 0 to represent difference.
3. Then calculate the mean of the categorical similarity results (to normalize the result), as simi_cat
4. Combine the numerical and categorical value by using their weight, for example there are 7 columns are numerical and 5 are categorical, then calculate the weight average as the final similarity result

In [139]:
from scipy.spatial.distance import cosine   

df_Q3 = df.drop(['id'],axis=1)
col_Q3 = df_Q3.columns[[v[-3:] in 'cat' for v in df_Q3.columns]]  ## columns that are categorical
col_Q3_num = [vv for vv in list(df_Q3.columns) if vv not in list(col_Q3)]  ## columns that are numerical
## or we can use
## col_Q3_num = set(list(df_Q3.columns)) - set(list(col_Q3))
def compare_similarities(row_range_1,row_range_2,df_new):
    # For categorical data
    ## num_zero_cat is the number of zero in each row, which means the number of value that equals in two rows
    ## num_non_zero_cat is the number of columns that catgorical data are differnt in two selected rows
    num_zero_cat = (df_new[col_Q3].loc[[row_range_1, row_range_2]].diff().iloc[[1]] == 0).astype(int).sum(axis=1).sum()  
    num_non_zero_cat = (len(col_Q3) - num_zero_cat)*1
    simi_cat = (num_zero_cat*0 + num_non_zero_cat*1)/len(col_Q3)  ## normalized the similarities of categorical data
    # For numerical data
    data_num = df_new[col_Q3_num].loc[[row_range_1, row_range_2]].values
    m1,m2 = data_num.shape
    mat_num = np.zeros((m1,m1))
    for i in range(m1):
        for j in range(m1):
            if i != j:
                mat_num[i][j] = 1 - cosine(data_num[i,:], data_num[j,:])
            else:
                mat_num[i][j] = 1
    ## extract the cosine similarity from the matrix
    simi_num = mat_num[0,1]
    # Combine the categorical similarities together with numerical similarities
    similarity_result = (len(col_Q3)/len(df_new.columns))*simi_cat + (len(col_Q3_num)/len(df_new.columns))*simi_num
    return similarity_result

In [140]:
compare_similarities(row_range_1,row_range_2,df_Q3)

0.756443697690665

## Q4: How many features contain missing values? For each feature containing missing values, what is the ratio of rows (samples) that miss values? How many samples in total contain missing values?

### Answer 
1. Missing value: NaN(none of the feature); -1 (13 features)
2. The ratio for each feature are as below:

feature name:ps_ind_02_cat,  # of missing value:216,  ratio of rows: 0.0003628959093566662

feature name:ps_ind_04_cat,  # of missing value:83,  ratio of rows: 0.00013944611331760784

feature name:ps_ind_05_cat,  # of missing value:5809,  ratio of rows: 0.00975954785857812

feature name:ps_reg_03,  # of missing value:107772,  ratio of rows: 0.18106489788512328

feature name:ps_car_01_cat,  # of missing value:107,  ratio of rows: 0.0001797678810239041

feature name:ps_car_02_cat,  # of missing value:5,  ratio of rows: 8.400368272145051e-06

feature name:ps_car_03_cat,  # of missing value:411231,  ratio of rows: 0.6908983689844963

feature name:ps_car_05_cat,  # of missing value:266551,  ratio of rows: 0.4478253126617071

feature name:ps_car_07_cat,  # of missing value:11489,  ratio of rows: 0.019302366215734897

feature name:ps_car_09_cat,  # of missing value:569,  ratio of rows: 0.0009559619093701067

feature name:ps_car_11,  # of missing value:5,  ratio of rows: 8.400368272145051e-06

feature name:ps_car_12,  # of missing value:1,  ratio of rows: 1.68007365442901e-06

feature name:ps_car_14,  # of missing value:42620,  ratio of rows: 0.07160473915176441

In [148]:
## first, check if there is NAN in the dataset
df.isnull().any()

id                False
target            False
ps_ind_01         False
ps_ind_02_cat     False
ps_ind_03         False
ps_ind_04_cat     False
ps_ind_05_cat     False
ps_ind_06_bin     False
ps_ind_07_bin     False
ps_ind_08_bin     False
ps_ind_09_bin     False
ps_ind_10_bin     False
ps_ind_11_bin     False
ps_ind_12_bin     False
ps_ind_13_bin     False
ps_ind_14         False
ps_ind_15         False
ps_ind_16_bin     False
ps_ind_17_bin     False
ps_ind_18_bin     False
ps_reg_01         False
ps_reg_02         False
ps_reg_03         False
ps_car_01_cat     False
ps_car_02_cat     False
ps_car_03_cat     False
ps_car_04_cat     False
ps_car_05_cat     False
ps_car_06_cat     False
ps_car_07_cat     False
ps_car_08_cat     False
ps_car_09_cat     False
ps_car_10_cat     False
ps_car_11_cat     False
ps_car_11         False
ps_car_12         False
ps_car_13         False
ps_car_14         False
ps_car_15         False
ps_calc_01        False
ps_calc_02        False
ps_calc_03        False
ps_calc_04        False
ps_calc_05        False
ps_calc_06        False
ps_calc_07        False
ps_calc_08        False
ps_calc_09        False
ps_calc_10        False
ps_calc_11        False
ps_calc_12        False
ps_calc_13        False
ps_calc_14        False
ps_calc_15_bin    False
ps_calc_16_bin    False
ps_calc_17_bin    False
ps_calc_18_bin    False
ps_calc_19_bin    False
ps_calc_20_bin    False
dtype: bool

In [149]:
df.isnull().any().sum()  ## which means that none of the feature contains NAN

0

In [150]:
## Then, we can see that there are some negative value in the dataset
## However, it is not possible that '-1' shows up here, so it can also be seen as missing value (total 13 columns here)
df[(df == -1)].any().sum()

13

In [151]:
df.columns[df[(df == -1)].any()]  ## this is the columns which has '-1' as missing value

Index(['ps_ind_02_cat', 'ps_ind_04_cat', 'ps_ind_05_cat', 'ps_reg_03',
       'ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_05_cat',
       'ps_car_07_cat', 'ps_car_09_cat', 'ps_car_11', 'ps_car_12',
       'ps_car_14'],
      dtype='object')

In [124]:
col_Q4 = list(df.columns[df[(df == -1)].any()])

In [161]:
for c in col_Q4:
    print('feature name:%s, '%c,
          '# of missing value:%s, '%((df[c])<0).sum(),
          'ratio of rows: %s' %((((df[c])<0).sum()).astype(int)/len(df[c])))

feature name:ps_ind_02_cat,  # of missing value:216,  ratio of rows: 0.0003628959093566662
feature name:ps_ind_04_cat,  # of missing value:83,  ratio of rows: 0.00013944611331760784
feature name:ps_ind_05_cat,  # of missing value:5809,  ratio of rows: 0.00975954785857812
feature name:ps_reg_03,  # of missing value:107772,  ratio of rows: 0.18106489788512328
feature name:ps_car_01_cat,  # of missing value:107,  ratio of rows: 0.0001797678810239041
feature name:ps_car_02_cat,  # of missing value:5,  ratio of rows: 8.400368272145051e-06
feature name:ps_car_03_cat,  # of missing value:411231,  ratio of rows: 0.6908983689844963
feature name:ps_car_05_cat,  # of missing value:266551,  ratio of rows: 0.4478253126617071
feature name:ps_car_07_cat,  # of missing value:11489,  ratio of rows: 0.019302366215734897
feature name:ps_car_09_cat,  # of missing value:569,  ratio of rows: 0.0009559619093701067
feature name:ps_car_11,  # of missing value:5,  ratio of rows: 8.400368272145051e-06
feature name:ps_car_12,  # of missing value:1,  ratio of rows: 1.68007365442901e-06
feature name:ps_car_14,  # of missing value:42620,  ratio of rows: 0.07160473915176441

In [168]:
(df[df<0].count(axis=1)).value_counts()

2    254982
1    156295
0    124931
3    56042
4    2883
7    53
6    19
8    7
dtype: int64

In [167]:
## How many samples in total contain missing values? --- 470281
(df[df<0].count(axis=1)>0).value_counts()

True     470281
False    124931
dtype: int64

## Q5:	Please fill in the missing values, and briefly describe your approach.

### Answer

If we want to fill in the missing value, there are several different cases needed to be considered:
1. In previous Q4, we can see that if the ratio of missing value > 20%, I decided to drop this column
Then
2. For numerical data, we can calculate the mean/median value of this column, then use this value to impute the missing place
3. For categorical data, since we need to do the one-hot encoding afterwards, we can keep the -1 here as a specific class (used for later dummies data, which means this spot is missing)

In [188]:
col_Q5 = []
df_impute = df.copy()
for c in col_Q4:
    if ((((df[c])<0).sum()).astype(int)/len(df[c])) < 0.2:
        col_Q5.append(c)
        if c[-3:] != 'cat':
            print(c)
            df_impute[c] = np.where(df[c]==-1, df_impute[c].median(), df_impute[c] )

ps_reg_03
ps_car_11
ps_car_12
ps_car_14

In [170]:
col_Q5

['ps_ind_02_cat',
 'ps_ind_04_cat',
 'ps_ind_05_cat',
 'ps_reg_03',
 'ps_car_01_cat',
 'ps_car_02_cat',
 'ps_car_07_cat',
 'ps_car_09_cat',
 'ps_car_11',
 'ps_car_12',
 'ps_car_14']

## Q6: How many classes are there in our target column? Is our class balanced or highly imbalanced? What challenge do you expect in classification task based on your observation?

### Answer
1. There are two classes in our target column: label '0': 573518, label '1': 21694. 

2. Therefore, the class is imbalanced, label '1' : label '0' =  0.0378. 

3. In this case, the label is imbalanced. When we do the classfication, sometimes the 'accuracy' metric will be very high. However, it is not true since maybe most of the label '0' are predicted correctly, while label '1' has very low accuracy. Therefore, at this time, accuracy cannot be the exact metric to evaluate the performance and it will mislead the model performance.

In [190]:
df_impute.columns

Index(['id', 'target', 'ps_ind_01', 'ps_ind_02_cat', 'ps_ind_03',
       'ps_ind_04_cat', 'ps_ind_05_cat', 'ps_ind_06_bin', 'ps_ind_07_bin',
       'ps_ind_08_bin', 'ps_ind_09_bin', 'ps_ind_10_bin', 'ps_ind_11_bin',
       'ps_ind_12_bin', 'ps_ind_13_bin', 'ps_ind_14', 'ps_ind_15',
       'ps_ind_16_bin', 'ps_ind_17_bin', 'ps_ind_18_bin', 'ps_reg_01',
       'ps_reg_02', 'ps_reg_03', 'ps_car_01_cat', 'ps_car_02_cat',
       'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat', 'ps_car_06_cat',
       'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat', 'ps_car_10_cat',
       'ps_car_11_cat', 'ps_car_11', 'ps_car_12', 'ps_car_13', 'ps_car_14',
       'ps_car_15', 'ps_calc_01', 'ps_calc_02', 'ps_calc_03', 'ps_calc_04',
       'ps_calc_05', 'ps_calc_06', 'ps_calc_07', 'ps_calc_08', 'ps_calc_09',
       'ps_calc_10', 'ps_calc_11', 'ps_calc_12', 'ps_calc_13', 'ps_calc_14',
       'ps_calc_15_bin', 'ps_calc_16_bin', 'ps_calc_17_bin', 'ps_calc_18_bin',
       'ps_calc_19_bin', 'ps_calc_20_bin'],
      dtype='object')

In [191]:
df_impute.shape

(595212, 59)

In [203]:
df_impute.target.value_counts()

0    573518
1    21694
Name: target, dtype: int64

In [204]:
(df_impute['target']==1).sum()/(df_impute['target']==0).sum()  ## the ratio of imbalanced data (1:0)

0.037826188541597645

## Q7:	Suppose we need to reduce the feature dimension to m (m is a parameter such as 10), and decided to use Principle Component Analysis (PCA) to do that. Can you directly run PCA on our data and why? 

If not, please preprocess the data and then run PCA with m = 10. In your results, please provide the 10 principle components (vectors) by a decreasing order, as well as data with reduced dimension.

Hint: for categorical attributes, we can encode them into a set of binary attributes (see https://www.kdnuggets.com/2015/12/beyond-one-hot-exploration-categorical-variables.html).

### Answer 
1. No, it cannot directly use PCA since there are some categorical data in the dataframe, since PCA can only deal with the linear relationship numerical data. Therefore, we should use one-hot encoding to first transform categorical data into numerical data, then use PCA to reduce features.

2. Also, we still need to standardize the values. PCA is effected by scale so we need to scale the features in the data before applying PCA. (https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60)

In [207]:
col_Q7 = df_impute.columns[[v[-3:] in 'cat' for v in df_impute.columns]]

In [208]:
col_Q7

Index(['ps_ind_02_cat', 'ps_ind_04_cat', 'ps_ind_05_cat', 'ps_car_01_cat',
       'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat',
       'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat',
       'ps_car_10_cat', 'ps_car_11_cat'],
      dtype='object')

In [219]:
df_new = pd.get_dummies(df_impute, columns=col_Q7)

In [223]:
df_impute.shape

(595212, 59)

In [222]:
df_new.shape

(595212, 229)

In [224]:
df_new.columns

Index(['id', 'target', 'ps_ind_01', 'ps_ind_03', 'ps_ind_06_bin',
       'ps_ind_07_bin', 'ps_ind_08_bin', 'ps_ind_09_bin', 'ps_ind_10_bin',
       'ps_ind_11_bin',
       ...
       'ps_car_11_cat_95', 'ps_car_11_cat_96', 'ps_car_11_cat_97',
       'ps_car_11_cat_98', 'ps_car_11_cat_99', 'ps_car_11_cat_100',
       'ps_car_11_cat_101', 'ps_car_11_cat_102', 'ps_car_11_cat_103',
       'ps_car_11_cat_104'],
      dtype='object', length=229)

In [229]:
col_x = df_new.columns[2:]

In [232]:
from sklearn.preprocessing import StandardScaler

features = col_x
# Separating out the features
x = df_new.loc[:, features].values
# Separating out the target
y = df_new.loc[:,['target']].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [246]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal_component_{0}'.format(i) for i in range(10)])

In [248]:
principalDf

,principal_component_0,principal_component_1,principal_component_2,principal_component_3,principal_component_4,principal_component_5,principal_component_6,principal_component_7,principal_component_8,principal_component_9
0,0.728200,0.172518,-0.881308,-3.991571,-2.838428,0.651680,0.118349,-0.292208,-0.335862,-2.087046
1,-1.828792,-0.611185,-0.254239,1.710160,1.077256,-0.209547,0.452505,-1.350203,1.130405,-1.514715
2,-2.377871,-0.364436,-0.756170,-0.599926,-0.034807,1.764038,-1.373202,0.256340,0.497494,0.871727
3,-1.899396,0.748594,2.103025,0.387801,3.392564,-0.891947,-0.727411,-0.189039,1.547573,0.441941
4,-2.571529,0.588896,-2.801840,0.309698,0.215793,2.062871,1.284384,-0.772547,0.481668,0.076281
5,3.466936,-2.451428,-1.752773,-1.862898,1.471364,0.373237,-0.515578,0.347843,-0.009560,-0.725201
6,-1.496763,-1.898499,0.525457,-3.081754,-0.046300,-0.606075,-0.138982,-0.077557,1.315849,-0.604759
7,-0.001749,0.782599,0.152227,1.266644,1.883270,-1.879793,-0.977290,0.371103,2.339282,-0.695249
8,0.233281,-2.554005,-0.975313,-2.925140,0.585253,0.265738,-0.213619,-0.372002,1.056606,0.590353
9,6.168378,1.389807,-0.562906,0.820801,1.283742,1.293156,0.049594,-1.946781,0.142176,1.158548
10,3.163615,-2.445844,-0.419530,2.555561,-0.770956,2.313461,-0.295057,-3.470252,5.972256,-2.422766
11,1.439971,0.426515,-1.738819,-0.400977,-3.217867,-1.771480,0.508730,0.856604,0.699530,-2.053552
12,-1.505563,-1.052972,-0.981399,-0.193437,-0.625512,0.059727,-0.158776,-0.006809,1.505622,-1.088176
13,1.283613,1.885801,-0.503522,-1.213329,1.535327,0.656784,-0.917106,-0.209279,0.193925,0.982743
14,-1.711732,-0.567142,-0.350036,0.919830,1.417033,0.416389,-1.164266,-0.325970,1.076190,-2.115189
15,6.995928,-4.102358,1.696512,-1.147533,-3.271644,-3.649551,2.346442,0.185272,-2.793212,0.864992
16,0.705163,0.373901,-0.781527,-0.165769,-2.132462,5.252504,-1.229757,-1.704436,1.384583,3.929242
17,0.445339,3.679966,0.921182,0.698369,-0.696699,-1.100519,-1.436081,1.378673,1.034746,-1.202349
18,-2.287771,-0.919639,-0.351709,2.341374,0.664372,-1.019131,-0.937044,0.426805,0.555958,2.695368
19,-3.889571,-0.235392,-0.826889,1.231192,0.886933,0.316022,0.356667,-0.548334,-0.807190,1.175443
20,-2.001995,0.046240,-1.104454,1.614100,0.558159,0.219380,1.285297,-1.615105,0.475054,0.179606
21,-2.946199,0.539969,-1.150041,1.116881,0.380355,0.310472,0.155067,0.274071,1.334834,-0.991061
22,2.145453,0.921438,-0.567669,-2.363420,1.732647,-0.206296,0.094500,0.515727,0.702540,0.760013
23,-0.689680,-2.151683,0.642013,-2.656084,-1.163228,-0.692014,0.719266,-0.601572,-0.218352,2.082643
24,-0.702051,-2.032439,1.970377,-0.770461,-0.748302,-1.473519,1.415656,-0.851547,-0.422800,0.772062
25,1.860742,-5.466269,3.203247,0.903691,-0.476065,-0.900248,-0.969671,-1.368455,4.994670,-1.050859
26,2.314336,-1.760110,0.019337,-1.802294,-1.991601,-3.047310,-0.060363,1.847369,-1.724126,-0.129106
27,-1.223108,-1.983099,0.650127,-2.336117,0.637177,-0.552887,-1.284109,0.865161,1.477865,-1.729962
28,0.971993,-2.170480,-0.910064,-1.776984,0.631570,0.692290,1.990262,0.495997,-0.800706,-0.108640
29,1.112678,-2.073157,-2.697752,-1.710083,2.716882,-1.196696,1.237980,1.884559,-1.473712,-1.438467
...,...,...,...,...,...,...,...,...,...,...
595182,-1.421781,-1.573541,2.705621,-0.989958,0.265050,0.385463,0.616898,1.563418,-2.151662,-0.565855
595183,-2.607170,-0.000988,-0.289655,2.075953,-0.202824,-0.438114,-0.371779,0.152142,-1.001490,0.971577
595184,-0.932200,-2.261062,6.599238,4.478762,0.086012,3.603678,-0.033855,0.481832,-1.505924,-3.400863
595185,-1.337283,4.228086,0.429800,-1.583245,-2.697223,-0.421519,-0.491232,0.820245,-0.941672,0.081147
595186,-0.016348,4.111154,-0.563171,-1.348731,-1.646335,-0.762309,-0.515199,0.102988,-0.090747,1.592363
595187,1.024977,-3.035452,4.583749,-0.472767,0.792218,3.884747,-0.824617,1.942760,-2.060677,-1.815099
595188,-2.138834,-0.194570,-0.208758,2.232385,-0.893645,-0.540686,-0.119622,0.317924,-0.287959,1.803306
595189,-1.401252,0.191129,1.520855,-0.470899,2.194687,-2.228948,-0.397323,-0.276807,2.095925,-0.319487
595190,-3.041662,-1.926421,1.380942,-1.954039,0.467537,0.212298,0.640083,0.489072,-1.268431,0.499656
595191,-0.394881,-0.820626,-0.218962,1.716084,0.129952,-0.013224,-0.485786,-0.199449,-0.098574,1.370638
595192,-1.242144,1.324328,-0.964088,1.286261,-2.975404,-0.323083,0.650890,-0.159656,0.545394,0.321864
595193,3.989743,5.890997,1.741228,0.244095,1.063493,2.095376,5.392764,3.584828,-0.550398,-2.435891
595194,-1.230752,1.525347,1.236634,-0.557552,0.939153,-1.180033,-0.863128,-0.564783,2.055442,0.035674
595195,2.114903,3.538532,0.551044,-2.016150,-2.866570,-2.350579,0.893584,-0.019562,0.427130,-2.800448
595196,-0.455136,-2.015755,5.918610,4.302013,0.288235,4.186765,0.182878,0.274087,-1.737433,-3.983409
595197,2.616276,0.920938,-1.267856,0.710983,-2.014979,4.793639,-2.736323,-2.149265,1.547089,4.504840
595198,0.049014,1.951480,-1.001671,-1.609522,1.517148,-0.378903,-2.345964,0.425423,2.093297,-1.269126
595199,1.197010,3.085651,0.244844,-0.754868,-2.276134,-1.443813,-1.956430,1.415324,1.681525,-2.029818
595200,-2.195547,0.135047,-0.415191,2.704053,-0.592333,-0.285785,0.913592,0.058987,1.085418,0.727309
595201,-2.168866,2.152059,-0.548533,-1.323073,1.845250,0.785150,0.347799,-0.673469,1.658913,-1.359796
595202,0.054216,-0.802363,2.307660,-0.928383,2.106234,-1.706391,-0.329080,-0.095291,1.805235,-0.462633
595203,2.378589,4.433112,-1.732016,-2.275060,-2.456702,0.328507,0.252424,-0.312872,0.448664,-1.012376
595204,-1.051558,-0.350066,-2.927258,-0.881467,-1.215662,2.175676,1.648401,-0.747736,-1.064474,-0.685629
595205,-0.844498,2.120855,-0.604988,-1.954161,2.327736,1.380938,-0.148232,-0.695350,-0.404950,0.415779
595206,2.497417,-2.564411,0.266518,3.373311,-1.225061,0.939326,-0.565906,-3.636939,6.429752,-2.025515
595207,-1.055184,-2.540528,0.461762,-1.781908,0.585024,-1.041590,-1.308235,0.812404,-0.360016,1.004383
595208,1.745617,1.134678,0.688350,1.233661,-0.921459,-0.295665,-0.738870,3.335603,-2.846516,-2.671394
595209,-2.467164,-0.963455,-0.279429,2.699570,0.554429,-0.874157,-0.629849,0.215752,-0.422182,1.315653
595210,-1.061359,-0.023201,-2.534908,0.001488,0.054349,1.752723,-0.115912,0.031750,1.181698,-1.880686
595211,0.122556,0.377795,-0.071473,3.149567,-2.455672,-2.695381,0.014203,1.226657,-0.500853,1.537353